
.center{

    text-align:center;

}


ul {
    list-style-type: none;
    overflow: hidden;
    /*background-color: #3a3636;*/
    background-color:#292a2d;
    padding: 10px;
    margin: 0px;
    position: fixed;
    width: 100%;
    top:0;
    border: 3px solid;
    border-color: rgb(193, 216, 249);
}

li image{
    padding: 0;
}

li {
    float: left;
}

li a {
    display:block;
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

li a:hover{
    background-color: #f3e8c5;
    color: #292a2d;
}

table {

    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    border: 2px solid;
    border-radius: 30px;
    background-color: #F9E6B2;
    background: linear-gradient(to bottom right,#F9E6B2,#F7D28A );
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    padding-bottom: 40px;
}

td {
    margin: auto;
    padding: 5px;

}

td input[type="submit"] {
    background-color: gray;
    color:azure;
    text-decoration: none;
    padding: 8px;
    font-weight: bold;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
}

td input[type="submit"]:hover {

    background-color:aliceblue;
    color: #292a2d;

}


.pagination {
  display: inline-block;
}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.pagination button.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination button:hover:not(.active) {background-color: #ddd;}

#searchbar{
    width: 250px;
    margin: auto;
    background-image: url('/static/searchicon.png');
    background-position: 10px 12px;
    background-size: 25px;
    background-repeat: no-repeat;
    border: 3px solid #ddd;
    padding: 10px 20px 10px 45px;
    border-color: #6778aa;
    height: 25px;
}

form {
    text-align: center;
}

.companyinfo table{
    text-align: center;
    margin-top: 0;
    margin-left: 50%;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    background: #bacaf8;
    border-color: rgb(0, 57, 122);

}

.companyinfo p{
    text-align: center;
    margin-right: 30%;
    font-size: x-large;
    font-weight:bold;

}

.companyinfo b{

    font-weight:bold;
}

.companyinfo form{
    text-align: center;
    margin-right: 30%;
    font-size: x-large;
    font-weight:bold;

}

.stories table{
    background:#abf5ae;
    border-color: #438845;
    margin-left: 10%;
    max-width:50%;
}

.notification{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 

}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

/* The Close Button */
.close {
    color: #aaaaaa;
    float:right;
    font-size: 28px;
    font-weight: bold;
  }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}