{% extends "layout.html" %}
{% block content %}

<div class="center">
    <div class="container-sm w-50 px-4 text-center">
        <div class="row justify-content-center">
            <div class="col w-50 d-flex justify-content-center align-items-center">
                <div class="input-group">
                    <span class="input-group-text" id="search-addon">
                        <i class="bi bi-search" width="16" height="16"></i>
                    </span>
                    <input class="form-control" type="text" id="searchbar" onkeyup="searchbar()" placeholder="Search for companies...">
                </div>
            </div>
            <div class="col w-50 justify-content-start">
                <div class="row">
                    <div class="col-2 d-flex align-items-center justify-content-center p-0">
                        Sort by
                    </div>
                    <div class="col d-flex justify-content-center align-items-center p-0">
                        <select class="form-select" onchange="sortList(this.value)">
                            <option value="1">Alphabetical Order</option>
                            <option value="2">Tracked Companies</option>
                            <option value="3">Suggested</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>
        {% for entry in companies %}

    <div class="container">
        <div class="card mb-4 p-3" name="companyCard" style="border-width: 0px; box-shadow: 0 0 0 6px #163970, 0 0 0 9px #1a1a1a; background-color: #97accc">
            <div class="row">
                <div class="col-sm-3 d-flex justify-content-center align-items-center">
                    <img src="static/logos/{{entry.companyname}}" height = "150px" weight = "150px" onerror="this.onerror=null;style='display: none;'"/>
                </div>
                <div class="col-sm-9">
                    <div class="row h-25">
                        <div class="col col-sm-6 mx-auto">
                            <a href="company{entry.id}.html" class="btn btn-dark" style="font-size: 17px;">{{entry.companyname}}</a>
                        </div>
                    </div>
                        <div class="row h-50 mt-1 border border-2 rounded border-warning me-1 bg-secondary align-items-center justify-content-center p-1">
                            <div class="col d-flex align-items-center justify-content-center mh-100">
                                <p class="text-center text-wrap fs-3 align-items-center justify-content-center" style="margin: 0;">
                                    Networth: ${{entry.networth}}B
                                </p>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center mh-100">
                                <p class="text-center text-wrap fs-3 align-items-center justify-content-center" style="margin: 0;">
                                    Number of employees: {{entry.num_emp}}
                                </p>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center mh-100">
                                <p class="text-center text-wrap fs-3 align-items-center justify-content-center" style="margin: 0;">
                                    Stock Symbol: {{entry.stock_symb}}
                                </p>
                            </div>
                        </div>
                    <div class="row h-25 mt-2">
                        {% if entry.companyname in tracked %}

                        <form action="untrackcompany.html" method="POST" onsubmit="untrack()">
                            <input class="btn btn-dark" type="hidden" name="companyname" value="{{entry.companyname}}">
                            <input class="btn btn-dark" type="submit" value="Untrack Company" style="color: rgb(233, 136, 136);">
                        </form>
                        <hidden style="display: none;">tracked</hidden>

                        {% else %}

                        <form action="trackcompany.html" method="POST">
                            <input class="btn btn-dark" type="hidden" name="companyname" value="{{entry.companyname}}">
                            <input class="btn btn-dark" type="submit" value="Track Company">
                        </form>
                        <hidden style="display: none;">untracked</hidden>

                        {% endif %}
                    </div>
                </div>
                </div>
            </div>
        </div>
        
        {% endfor %}

        
        <nav>
            <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" onclick="pagination(1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#" onclick="pagination(1)">1</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="pagination(2)">2</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="pagination(3)">3</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="pagination(4)">4</a></li>
            <li class="page-item">
                <a class="page-link" href="#" onclick="pagination(4)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            </ul>
        </nav>
          
        <script>
            
            window.onload=function(){
                sortList(1);
                pagination("1");
            }

            function pagination(number){
    
                const pageNumber = parseInt(number);
    
                const buttons = document.getElementsByClassName("pagebutton");
                const tables = document.getElementsByName("companyCard");
    
                // Loop through all buttons to remove 'active' class
                for (let i = 0; i < buttons.length; i++) {
                    buttons[i].classList.remove('active');
                }
    
                for (let i = 0; i < tables.length; i++) {
                    tables[i].style.display = "none";
                }
    
                for (let i = (pageNumber-1)*5; i < pageNumber*5; i++) {
                    if (tables[i] == null){
                        break;
                    }
                        tables[i].style.display = "";
                }
                //document.getElementById(number).style.display = "";
    
                // Add 'active' class to the clicked button
                buttons[pageNumber].classList.add('active');
                        
            }

            function searchbar() {
                    //Makes all the variables 
                    var input, filter, tb, tr, a, i, txtValue, found;
                    //Assigns values to the variables 
                    input = document.getElementById("searchbar");
                    //Makes the input into uppercase 
                    filter = input.value.toUpperCase();
                    tb = document.getElementsByName("companyCard");
                    var counter = 0;
                    const buttons = document.getElementsByClassName("pagebutton");
                    for (let i = 0; i < buttons.length; i++) {
                        buttons[i].style.display = "";
                    }

                    //Loops until theres no table rows left (tr)
                    for (i = 0; i < tb.length; i++) {
                        //Gets all the stuff from the document that have the tag a 
                        a = tb[i].getElementsByTagName("a")[0];
                        txtValue = a.textContent || a.innerText;
                        //makes the value to upper case and compares it to the input value 
                        if (txtValue.toUpperCase().startsWith(filter) == true) {
                            //Shows the table values 
                            tb[i].style.display = "";
                            counter = counter + 1;
                            //pagination("1");

                        } else {
                            //Hides the table values that don't match the input
                            tb[i].style.display = "none";
                        }
                    }
                    
                    //Changes how many pages there are
                    if (counter < 6){
                        for (let i = 0; i < buttons.length; i++) {
                            buttons[i].style.display = "none";
                        }
                    }
                    else{
                        pagination("1");
                    }
                    
                }

                function untrack(){
                    let text = "By clicking OK you will no longer be tracking the company";
                    if (confirm(text) != true){
                        event.preventDefault()
                    }
                }

                function sortList(value) {
                    var i, switching, b, shouldSwitch;
                    console.log(value);
                    if(value == 1){
                        switching = true;
                        /* Make a loop that will continue until
                        no switching has been done: */
                        while (switching) {
                            // start by saying: no switching is done:
                            switching = false;
                            b = document.getElementsByName("companyCard");
                            // Loop through all list-items:
                            for (i = 0; i < (b.length - 1); i++) {
                                // start by saying there should be no switching:
                                shouldSwitch = false;
                                /* check if the next item should
                                switch place with the current item: */
                                a = b[i].getElementsByTagName("a")[0];
                                txtValue = a.textContent || a.innerText;
                                a2 = b[i+1].getElementsByTagName("a")[0];
                                txtValue2 = a2.textContent || a2.innerText;

                                if (txtValue.toLowerCase() > txtValue2.toLowerCase()) {
                                    /* if next item is alphabetically
                                    lower than current item, mark as a switch
                                    and break the loop: */
                                    shouldSwitch = true;
                                    break;
                                }
                            }
                            if (shouldSwitch) {
                                /* If a switch has been marked, make the switch
                                and mark the switch as done: */
                                b[i].parentNode.insertBefore(b[i + 1], b[i]);
                                switching = true;
                            }
                        }
                    }

                    if(value == 2){
                        switching = true;
                        /* Make a loop that will continue until
                        no switching has been done: */
                        while (switching) {
                            // start by saying: no switching is done:
                            switching = false;
                            b = document.getElementsByName("companyCard");
                            // Loop through all list-items:
                            for (i = 0; i < (b.length - 1); i++) {
                                // start by saying there should be no switching:
                                //b.style.display = "";
                                shouldSwitch = false;
                                /* check if the next item should
                                switch place with the current item: */
                                a = b[i].getElementsByTagName("hidden")[0];
                                txtValue = a.textContent || a.innerText;
                                a2 = b[i+1].getElementsByTagName("hidden")[0];
                                txtValue2 = a2.textContent || a2.innerText;

                                if (txtValue.toLowerCase() == "untracked" && txtValue2.toLowerCase() == "tracked") {
                                    /* if next item is alphabetically
                                    lower than current item, mark as a switch
                                    and break the loop: */
                                    shouldSwitch = true;
                                    break;
                                }
                            }
                            if (shouldSwitch) {
                                /* If a switch has been marked, make the switch
                                and mark the switch as done: */
                                b[i].parentNode.insertBefore(b[i + 1], b[i]);
                                switching = true;
                            }

                        }
                    }

                    pagination("1");

                    
                }
    
        </script>

</div>



<div class="notification">
    <div class="modal-content">
        <span class="close">&times;</span>
        <b>Notices:</b><br><br>
        {% for entry in notices %}
            -{{entry}}
            <br><br>
        {% endfor %}
    </div>
</div>

<script>

    var modal = document.getElementsByClassName("notification")[0];
    // Get the button that opens the modal
    var btn = document.getElementById("notibutton");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }

</script>


{% endblock %}