{% extends "layout.html" %}
{% block content %}
<div class="center">

    <p>{{"Welcome to MarketMood, " + session['username']}}</p>

    Latest stories of your tracked companies:

    <br><br>

    
        <div class="stories" style="margin-left: 25%;">
            {% for story in stories%}
            <table>
                <tbody>
                    <tr><td><b>{{story.headline}}</b></td></tr>
                    <tr><td><a href="{{story.url}}" target="_blank">Source</a></td></tr>
                    
                    <tr><td>Date: {{story.timestamp}}</td></tr>
                    <tr><td>Possible Impact of Story on {{story.companyname}}: {{story.impact}}</td></tr>
                </tbody>
                
                <br><br>
            </table>
            {% endfor %}
        </div>

    Companies suggested to you:
    <br><br>

    {% for entry in recommendedcompanies %}
    <div class="container">
        <div class="card mb-4 p-3" name="companyCard" style="border-width: 0px; box-shadow: 0 0 0 6px #163970, 0 0 0 9px #1a1a1a; background-color: #97accc">
            
            <div class="row">
                <div class="col-sm-3 d-flex justify-content-center align-items-center">
                    <img src="static/logos/{{entry.companyname}}" height = "150px" weight = "150px" onerror="this.onerror=null;style='display: none;'"/>
                </div>
                <div class="col-sm-9">
                    <div class="row h-25">
                        <div class="col col-sm-6 mx-auto">
                            <a href="company{{entry.id}}.html" class="btn btn-dark" style="font-size: 17px;">{{entry.companyname}}</a>
                        </div>
                    </div>
                        <div class="row h-50 mt-1 border border-2 rounded border-warning me-1 bg-secondary align-items-center justify-content-center p-1">
                            <div class="col d-flex align-items-center justify-content-center mh-100">
                                <p class="text-center text-wrap fs-3 align-items-center justify-content-center" style="margin: 0;">
                                    Networth: ${{entry.networth}}B
                                </p>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center mh-100">
                                <p class="text-center text-wrap fs-3 align-items-center justify-content-center" style="margin: 0;">
                                    Number of employees: {{entry.num_emp}}
                                </p>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center mh-100">
                                <p class="text-center text-wrap fs-3 align-items-center justify-content-center" style="margin: 0;">
                                    Stock Symbol: {{entry.stock_symb}}
                                </p>
                            </div>
                        </div>
                    <div class="row h-25 mt-2">

                        <form action="trackcompany.html" method="POST">
                            <input class="btn btn-dark" type="hidden" name="companyname" value="{{entry.companyname}}">
                            <input class="btn btn-dark" type="submit" value="Track Company">
                        </form>

                    </div>

                </div>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}


</div>

<div class="notification">
    <div class="modal-content">
        <span class="close">&times;</span>
        <b>Notices:</b><br><br>
        {% for entry in notices %}
            -{{entry}}
            <br><br>
        {% endfor %}
    </div>
</div>

<script>

    var modal = document.getElementsByClassName("notification")[0];
    // Get the button that opens the modal
    var btn = document.getElementById("notibutton");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }

</script>


{% endblock %}



