<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MarketMood</title>
        <link rel="stylesheet" href="static/css/main.css" type="text/css"
charset="utf-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Russo One">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>

        <ul>
            <li><a style="padding:0; padding-left: 10px; padding-right: 10px;" href="home.html"><img src="static/home.png" height = "40px" weight = "40px"/></a></li>
            <li><a href="home.html">Home</a></li>
            
            <li><a href="companies.html">Companies</a></li>
            <li><a href="logout.html">LogOut</a></li>
            <li ><a>BELL(Notification)</a></li>

        </ul>

        
        <br><br><br><br><br><br>
        {% block content %}
        {% endblock %}

        
        
    </body>
</html>

