<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="center">
      <p>{{message}}</p>
      <h1>Login</h1>
      <form action="login.html" method="POST">
      <br><br>
      <input type="text" name="username" placeholder="Username/Email" required> 
      <br><br>
      <input type='password' name='user_password' placeholder="Password" required> 
      <br><br>
      <input type="submit" value="Login">
      <br><br><br>
      <r><a href="register.html">Register</a></r>
  </form>
</div>
  </body>
</html>
