<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="center">
      <p>{{message}}</p>
      <h1>Register</h1>
      <form action="register.html" method="POST">
          <br><br>
          <input type='text' name="username" placeholder="Username" required> 
          <br><br>
          <input type='password' name='user_password' placeholder="Password" required> 
          <br><br>
          <input type='password' name='confirm_password' placeholder="Confirm Password" required> 
          <br><br>
          <input type="email" name='user_email' placeholder="Email" required> 
          <br><br>
          <input type="submit" value="Register">
          <br><br>
          <r><a href="login.html">Login</a></r>

      </form>
      </div>
  </body>
</html>
